<div id="welcome">
  <h1>Tempo</h1>
  <div class="tagline">The simplest way to wrangle your inbox</div>
  <% if logged_in? %>
    <a class="btn try-button" href="/sonata">See Your Results</a>
  <% else %>
    <a class="btn try-button" href="/auth/google_oauth2">Try It Now</a>
  <% end %>
</div>


<!-- Adiago, Mezzo, Presto -->