<!DOCTYPE html>
<html>
<head>
  <title>Tempo</title>
  <%= stylesheet_link_tag    :application %>
  <%= javascript_include_tag :application %>
  <script type="text/javascript" src="//use.typekit.net/gdc1igv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <%= yield %>
    <ul id="footer">
      <% if current_page?(learn_path) %>
        <li><a href="/">Home</a></li>
      <% else %>
        <li><a href="/learn">Learn More</a></li>
      <% end%>
      <li><a href="https://twitter.com/teej_m">@teej_m</a></li>
      <li><a href="http://teejm.com">teejm.com</a></li>
      <% if logged_in? %>
      <li><a href="/signout">Sign out</a></li>
      <% end %>
    </ul>
  </div>
</body>
</html>
